body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Montserrat", sans-serif;
}

p {
  text-align: center;
}

.x {
  color: rgb(255, 70, 37);
}

.o {
  color: rgb(44, 135, 255);
}

footer {
  text-align: center;
  margin-top: auto;
}
